<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Look at the questions- StackOverflow</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" />
</head>
<script>
    var req = new XMLHttpRequest();
    var container = document.getElementsByClassName("show-content")[0];
    container.innerHTML = 
    /*  <div class="show-elements shadow-box">
            <img src="image/{{file}}" alt="" />
            <ul class="show-items">
                <li><strong>Title:</strong> {{title}}</li><br>
                <li><strong>Body: </strong>{{body}}</li><br>
                <li><strong>Tags: </strong>{{tags}}</li>
            </ul>
        </div>
        <hr width="50%">
        {{/msgs}}
        {{else}}
        <h2 class="middle-container">Nenhum registro encontrado!</h2>
        <hr>
        {{/if}}*/
    var req = new XMLHttpRequest();
    var url = window.location.href;
    var counter = 0;
    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
    var search = queryString.split("=")[1];
    req.open("GET", "/frames?search=" + search + "&counter=" + counter, true);
    req.onreadystatechange = function() {
        if (req.readyState === 4 && req.status === 200){
            response = req.responseText;
            console.log(response);
        }
    }
    counter = 4;
    req.send();
    window.addEventListener("scroll", () => {
        console.log(counter);
        if (((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 2)) {
            var req = new XMLHttpRequest();
            var url = window.location.href;
            var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
            var search = queryString.split("=")[1];
            req.open("GET", "/frames?search=" + search + "&counter=" + counter, true);
            req.onreadystatechange = function() {
                if (req.readyState === 4 && req.status === 200){
                    response = req.responseText;
                    console.log(response);
                }
            }
            req.send();
            counter += 4;
        }
    }, false);

</script>
<body class="signup-page">
    <div class="navbar">
        <div class="menu">
            <button class="menuButton">
                <span class="menuLine1"></span>
                <span class="menuLine2"></span>
                <span class="menuLine3"></span>
            </button>
            <!-- <img class="logo" src="logo.png"></img> -->
            <a href="/"><img class="logo1" src="images/logo1.png" /></a>
            <a href="/"><img class="logo2" src="images/logo2.png" /></a>
            <button class="whiteButton">Products</button>
            <button class="whiteButton">Customers</button>
            <button class="whiteButton">Use cases</button>
            <form class="searchReference" method="GET" action="/search">
                <input type="text" class="search" name="search" placeholder=" Search…" />
                <svg class="svgSearch">
                    <path class="searchIcon"
                        d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z">
                    </path>
                </svg>
                <input type="submit" style="display: none;">
            </form>

            {{#if login}}
            <a href="./logout">
                <input type="button" class="loginButton" value="Log out" />
            </a>
            <a href="./ask">
                <input type="button" class="signupButton" value="ASK!" />
            </a>
            {{else}}
            <a href="./login">
                <input type="button" class="loginButton" value="Log in" />
            </a>
            <a href="./signup">
                <input type="button" class="signupButton" value="Sign Up" />
            </a>
            {{/if}}
        </div>
    </div>
    <section class="show-content">

        {{!-- {{#if msgs}}
        {{#msgs}}
        <div class="show-elements shadow-box">
            <img src="image/{{file}}" alt="" />
            <ul class="show-items">
                <li><strong>Title:</strong> {{title}}</li><br>
                <li><strong>Body: </strong>{{body}}</li><br>
                <li><strong>Tags: </strong>{{tags}}</li>
            </ul>
        </div>
        <hr width="50%">
        {{/msgs}}
        {{else}}
        <h2 class="middle-container">Nenhum registro encontrado!</h2>
        <hr>
        {{/if}} --}}
    </section>
</body>

</html>